<md-dialog aria-label="New Item">
  <form name="itemForm" ng-submit="$ctrl.save()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>New Item</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
        <md-input-container>
          <label>Name</label>
          <input type="text" name="name" ng-model="$ctrl.name" required>

          <div ng-messages="itemForm.name.$error">
            <div ng-message="required">A name is required.</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>Description</label>
          <textarea type="text" name="description" required ng-model="$ctrl.description" rows="3"></textarea>

          <div ng-messages="itemForm.description.$error">
            <div ng-message="required">A description is required.</div>
          </div>
        </md-input-container>

        <div layout="row" layout-align="center center">
          <md-button class="md-raised md-primary" type="submit" ng-disabled="itemForm.$pristine || itemForm.$invalid">Save</md-button>
          <md-button class="md-raised" ng-click="$ctrl.cancel()">Cancel</md-button>
        </div>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
